* {
  box-sizing: border-box;
}

body {
  padding: 30px;
  background-color: bisque;
}

/* Header */

.brand {
  text-align: center;
  font-size: 60px;
  /* font-weight: normal; */
  font-family: 'Snell Roundhand';
}

/* Navbar  */

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border: 3px solid black;
  padding: 30px;
  margin: 0px;
}

.section-link {
  text-decoration: none;
  cursor: pointer;
  color: #666;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Futura';
}

.site-section:hover {
  text-decoration: underline;
}

/* Page Layout */

.brand-header {
  grid-area: header;
}

.nav-links {
  grid-area: nav;
}

.story-1 {
  grid-area: story-1;
}
.story-2 {
  grid-area: story-2;
}
.story-3 {
  grid-area: story-3;
}
.story-4 {
  grid-area: story-4;
}
.story-5 {
  grid-area: story-5;
}

.page {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'story-1 story-2 story-3'
    'story-4 story-5 story-5';
}

/* Article */

.article-title {
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

.article-img {
  display: block;
  margin: 0 auto;
  max-height: 250px;
}

.article-text {
  font-size: 20px;
}

.story {
  padding: 20px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}

.story-3,
.story-5 {
  border-right: 3px solid black;
}
