* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
}

/* Nav */
.main-nav {
  background-color: #43281c;
  color: #fbf2c0;
  font-size: 20px;
  display: flex;
  place-content: center;
}

.logo {
  height: 30px;
  position: relative;
  top: 5px;
}

/* Layout */
.main-container {
  display: grid;
  grid-template-areas:
    'items payment'
    'total total';
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  column-gap: 30px;
  row-gap: 30px;
  width: 100%;
  margin: 0 auto;
}

.items {
  grid-area: items;
}

.payment {
  grid-area: payment;
}

.total {
  grid-area: total;
}

/* Utilities */
.container {
  background-color: #eee1d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
  padding: 15px;
  width: 100%;
}

.title {
  color: #885a2d;
  font-weight: normal;
  font-size: 20px;
}

/* Items */
.item-list,
.item-extra {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  row-gap: 10px;
  border-bottom: 2px solid #ddb892;
  padding: 15px 0;
}

.item:last-child {
  border-bottom: none;
}

.item-extra {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: #b08968;
  /* color: #885a2d; */
}

.item-name,
.item-price {
  font-weight: bold;
}

/* Payment */
.order-name {
  margin-bottom: 20px;
}

.input-group {
  padding: 15px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-label {
  background-color: #eee1d5;
  color: #885a2d;
  font-size: 14px;
  position: absolute;
  left: 40px;
  top: 5px;
  padding: 0 2px;
}

.input-text {
  background-color: inherit;
  border: 2px solid #885a2d;
  padding: 8px;
  border-radius: 50px;
  text-indent: 18px;
  width: 100%;
}

.short-input {
  max-width: 200px;
}
