@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --font-sans: "Karla", sans-serif;
    --page-bg: #1C1C1C;
    --card-bg: #1F2937;
    --accent: #10B981;
    --accent-hover: #0ba873;
    --highlight: #4ADF86;
    --password-bg: #273549;
    --password-color: #55F991;
    --muted-text: #e8e6e3;
    --hr: #2F3E53;
}

body {
    font-family: var(--font-sans);
    text-align: left;
    margin-top: 50px;
    background-color: var(--page-bg);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

#highlight-text {
    color: var(--highlight);
    display: block;
}

#strike-through {
    text-decoration: line-through;
}

.slide-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

#slider-value {
    color: var(--muted-text);
}

#length-slider{
    width: 32%;
}

.checkbox-container {
    margin-bottom: 20px;
    color: var(--muted-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 87%;
}

.subtitle {
    color: var(--muted-text);
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 20px;
}

.passwords-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.password-box {
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--password-bg);
    color: var(--password-color);
    width: 262px;
    height: 39px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--accent);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#generate-btn:hover {
    background-color: var(--accent-hover);
    color: #FFFFFF;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--hr);
    margin-top: 20px;
}

.left-column, .right-column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy-btn {
    position: absolute;
    right: 3px;
    border: none;
    cursor: pointer;
    padding: 8px 6px;
    font-size: 20px;
    background: none;
}

.copy-btn:hover .copy-text {
    background: transparent;
}