* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.calculator {
  width: 500px;
  color: white;
  height: 100vh;
  background-color: #000;
}

.screen {
  font-family: monospace;
  font-size: 40px;
  text-align: right;
  padding: 15px;
}

.buttons-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr; */
  height: 91%;
  font-size: 50px;
}

.clear-btn {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
}

.zero-btn {
  grid-column: 1 / span 3;
}

.btn {
  /* padding: 1px; */
  text-align: center;
  background-color: lightgrey;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-btn,
.clear-btn,
.delete-btn {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.operation-btn {
  background-color: darkorange;
  color: white;
  border-bottom: 2px solid black;
}
