* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.calculator {
  width: 400px;
  color: white;
  background-color: black;
}

.screen {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: right;
  padding: 20px 15px;
}

.buttons-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.clear-btn {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
}

.btn {
  display: flex;
  background-color: #d8d9db;
  color: black;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 40px;
}

.btn:hover {
  background-color: #ebebeb;
}

.btn:active {
  background-color: #bbbcbe;
}

.num-btn,
.clear-btn,
.delete-btn {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.operation-btn {
  background-color: #df974c;
  color: white;
  border-bottom: 2px solid black;
}

.operation-btn:hover {
  background-color: #dfb07e;
}

.operation-btn:active {
  background-color: #dd8d37;
}

.operation-btn:last-child {
  border-bottom: none;
}

.zero-btn {
  grid-column: 1 / span 3;
  border-bottom: none;
}
