:root {
  --color-background: black;
  --color-text: white;
  --color-button: #d8d9db;
  --color-button-hover: #ebebeb;
  --color-button-active: #bbbcbe;
  --color-operation: #df974c;
  --color-operation-hover: #dfb07e;
  --color-operation-active: #dd8d37;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.calculator {
  width: 400px;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

.calculator__screen {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: right;
  padding: 20px 15px;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn--clear {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
}

.btn {
  display: flex;
  background-color: var(--color-button);
  color: black;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 40px;
  border: none;
  border-radius: 0;
}

.btn:hover {
  background-color: var(--color-button-hover);
}

.btn:active {
  background-color: var(--color-button-active);
}

.btn--num,
.btn--clear,
.btn--delete {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.btn--operation {
  background-color: var(--color-operation);
  color: var(--color-text);
  border-bottom: 3px solid black;
}

.btn--operation:hover {
  background-color: var(--color-operation-hover);
}

.btn--operation:active {
  background-color: var(--color-operation-active);
}

.btn--operation:last-child {
  border-bottom: none;
}

.btn--num-zero {
  grid-column: 1 / span 3;
  border-bottom: none;
}
